.card .card-header{
    background-color: orange;
    color:white;
}
.card{
    max-width: 965px;
    margin: auto;
    height:90vh;
}
.card-body{
    overflow-y: scroll; 
    overflow-x: hidden;  
}
.card .card-header img
{
   width:80px;
   height:60px; 
}
.card .card-header span{
   font-size: 1.4rem;
   font-weight:600;
}

.card-body .message{
    width:50%;
    border:1px solid grey;
    padding:10px;
    background-color: rgb(238, 238, 238); 
    border-radius: 12px;
    margin:10px 0 0 5px
}
.card-body .left{
    float: left;
    clear: both;
}
.card-body .right{
    float: right;
    clear: both;
}
.card-footer{
    background-color: rgba(0,0,0,0.7);
}
.card-footer form input{
    width:79%;
    padding:5px 10px;
    border-radius: 12px;
    height:50px;
    border:none;
    background-color: rgb(238, 238, 238); 
    border: 1px solid black;
}
.card-footer form button{
    width:20%;
    border-radius: 12px;
    height: 50px;
    color:white;
    background-color: orange;
    border:1px solid orange
}
/*To hide scroll bar but scroll property will work*/
::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 600px) {
    .card-footer form input{
        width:100%;
        padding:5px 10px;
        border-radius: 12px;
        border:none;
        background-color: rgb(238, 238, 238); 
        border: 1px solid black;
    }
    .card-footer form button{
        width:30%;
        font-size: 12px;
        border-radius: 12px;
        margin-top: 10px;
        margin-left: 35%;
        color:white;
        background-color: orange;
        border:1px solid orange
    }
    
  }